html, body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div, canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
